.toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 20;
    position: fixed;
    top: 20px;
    right: 40px;
    border: 3px solid #333333;
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 30px;
}

.toggle-button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #333333;
    position: absolute;
    cursor: pointer;
    
    
  
    
}